* {
    padding: 0;
    margin: 0;
}
.main {
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
form {
    grid-column: 2/3;
    width: 20vw;
    justify-self: center;
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
}
form > label {
    justify-self: center;
    margin: 4px 0 -4px 0;
    display: grid;
}
form > label > input {
    width: 20vw;
    margin: 5px 0 0 0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}
input:invalid {
    border-color: rgb(245, 19, 19);
}
input:focus:invalid {
    outline: none;
}
.error {
    display: block;
    width: max-content;
    height: 26px;
    padding: 0;
    margin-bottom: 4px;
}
.error.active {
    padding: 5px 10px;
    font-size: 80%;
    color: black;
    background-color: white;
    border: 1px solid rgb(245, 19, 19);
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    justify-self: center;
}
form > button {
    justify-self: center;
    width: 7.5vw;
    height: 10vh;
    color: green;
    font-weight: 700;
    font-size: 22px;
    background-color: greenyellow;
    border: 2px solid green;
    border-radius: 10px;
    margin: 5px;
}
form > button:hover {
    filter: invert(100%);
    cursor: pointer;
}